/data/**/**
!/data/.gitkeep
/src/data/json/**/**
!/src/data/json/.gitkeep

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# staging
/build-staging

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
